@value colors: "../public/css/colors.css";
@value borderMainColor from colors;
@value hardMainColor from colors;

.container {
  color: hardMainColor;
  margin: auto;
  max-width: 900px;
  min-width: 400px;
  max-height: 500px;
  border: 1px solid borderMainColor;
  padding: 30px;
  display: flex;
  flex-direction: row;
}
